.success {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.container a {
  color: var(--background-lighter-color);
}

.container a:hover, .container a.palName:hover {
  color: var(--main-contrast-color);
}

.container a.palName {
  color: rgb(236, 239, 243);
  cursor: pointer;
}

.tokenAddrContainer {
  display: flex;
}

.tokenAddr {
  width: calc(100% - 30px);
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--background-lighter-color);
}

.copyToClipboard {
  background: url(/copy.svg) no-repeat;
  width: 40px;
  cursor: pointer;
}

.copyToClipboard:hover {
  background: url(/copy-hover.svg) no-repeat;
}

.copiedToClipboard::after {
  content: "Copied";
  display: block;
  background-color: var(--background-lighter-color);
  border-radius: 5px;
  color: white;
  padding: 0px 3px;
}

.loadingIcon {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.walletContainer {
  display: flex;
  flex-direction: column;
}

.nftPreview {
margin-top: 2rem;
display: flex;
flex-direction: column;
align-items: center;
}

.nftPreview h4 {
font-size: 20px;
font-weight: 500;
color: #0f172a;
border: 1.5px solid #0f172a;
background-color: white;
padding: 0.5rem 1rem;
position: relative;
/* margin-bottom: 0px; */
opacity: 1;
box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.75);
animation: blink-ei 1s ease-in 2s 1 normal none;
}

@keyframes blink-ei {
  33%,100% {
    opacity: 1;
  }
  0%,67% {
    opacity: 0;
  }   
}

.nftPreviewImg {
width: 350px;
height: 350px;
animation: swirl-center-ei 3s ease-in 0s 1 normal none;
}

@keyframes swirl-center-ei {
  from {
      opacity: 0.5;transform: rotate(-720deg) scale(0);
  }
  to {
      opacity: 1;transform: rotate(0) scale(1);
  }

}

.msg {
  border: 1px dashed var(--main-contrast-color);
  padding: 0.5em 1em;
  border-radius: 4px;
}

.mintBtn {
  margin-top: 4px;
}

.closeBtn {
  padding: 0px 5px 3px;
  background-color: var(--background-lighter-color);
  border-radius: 40px;
  height: 18px;
  margin-left: 1em;
  font-weight: 400;
}

.countsContainer {
  border: 1px dashed var(--light-blue-color);
  background-color: var(--dark-blue-color);
  width: calc(100% - 100px);    
  text-align: center;
}

.countsContainer h3 {
  margin-top: 10px;
}

.counts {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.countHdr {
  font-weight: 700;
}
.countVal {
  font-weight: normal;
}

